.result {
    width: 200px;
    height: 50px;
    font-size: 30px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    border: 1px solid black;
}

.calculator {
    display: flex;
    flex-direction: column;
}